<section class="bio">
    <p>
        <strong>Hello, I'm John.</strong> I'm  a web developer based outside Glasgow, Scotland.
        I'm not your ordinary web developer though - I'm focussed less on
        global domination, and more on hand-crafting a truely excellent product
        that stands the test of time. I've worked with some really great people
        and built some awesome software, spanning from complex financial systems,
        to small one page wonders. I don't pretend I'm the best at everything, which
        is why I've built up a large network of fellow grafters, which allow me to
        focus on the things I'm the best at, giving you the best possible result.
    </p>
    <p>
        <h4>
            Fancy having a chat with me? Why not
            <a href="tel:07772494030">drop me a line</a> or
            <a href="mailto:john@johnhamelink.com">shoot me an email</a>?
        </h4>
    </p>
</section>
