{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
    <header id="header" class="inner">{% include header.html %}</header>
    {% unless page.banner == false %}
    <!--{% include banner.html %}-->
    {% endunless %}

    <div id="content" class="inner">{{ content | expand_urls: root_url }}</div>
    <!--{% include aboutme.html %}-->

    <footer id="footer" class="inner">{% include footer.html %}</footer>
    {% include after_footer.html %}
</body>
</html>
