---
layout: default
---

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="post">{% include article.html %}</article>
{% endfor %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">Prev</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Next</a>
    {% endif %}
    <!--<div class="center"><a href="{{ root_url }}/blog/archives">Blog Archives</a></div>-->
</nav>
